body {
  margin: 0;
  font-family: "Domine";
}

a {
  color: #8F8F8F;
  text-decoration: none;
}

/* Title */
#title {
  background-color: teal;
  padding-top: 2%;
}

.navbar-brand {
  font-family: "Domine";
  font-weight: 700;
  font-size: 3rem;
  padding-left: 3%;
}

.navbar-nav {
  padding-right: 5%
}

.title-image {
  width: 100%;
  border-radius: 5%;
  border: 2px solid white;
}

.title-content {
  padding: 5% 3% 5%;
}

.title-header {
  padding-top: 3%;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}

.title-description {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2;
  color: #fff;
}

/* Fish */
#fish {}

.container-fluid {
  padding: 7% 15%;
}

.fish-image {
  width: 85%;
  border-radius: 5%;
  border: 8px solid lime;
}

.fish-caption {
  color: #000;
  display: block;
  padding-top: 1%;
}

.fish-column {
  text-align: center;
}

.fish-heading {
  color: #000;
  font-size: 3.5rem;
}

.fish-description {
  color: #000;
  font-size: 1.4rem;
}

/* Equipment */
/* Aquarium Tank */
#equipment {
  background-color: teal;
}

.tank-container {
  padding-bottom: 5%;
}

.tank-image {
  float: left;
  width: 50%;
  margin-right: 2%;
  border-radius: 5%;
  border: 8px solid gold;
}

.tank-header {
  color: #fff;
  font-size: 3.5rem;
}

.tank-description {
  color: #fff;
  line-height: 1.2;
  font-size: 1.4rem;
  text-align: justify;
}

/* Tank Cabinet */
.cabinet-image {
  float: right;
  width: 50%;
  margin-left: 2%;
  border-radius: 5%;
  border: 8px solid gold;
}

.cabinet-header {
  color: #fff;
  font-size: 3.5rem;
}

.cabinet-description {
  color: #fff;
  line-height: 1.2;
  font-size: 1.4rem;
  text-align: justify;
}

.cabinet-container {
  padding-bottom: 5%;
}

/* Aquarium Heater */
.heater-image {
  float: left;
  width: 50%;
  margin-right: 2%;
  border-radius: 5%;
  border: 8px solid yellow;
}

.heater-header {
  color: #fff;
  font-size: 3.5rem;
}

.heater-description {
  color: #fff;
  line-height: 1.2;
  font-size: 1.4rem;
  text-align: justify;
}

.heater-container {
  padding-bottom: 5%;
}

/* Suppliers */
.suppliers-heading {
  font-size: 3.5rem;
  color: #000;
  padding-top: 2%;
}

.supplier-logo {
  width: 25%;
  margin: 50px 0 80px;
}

#suppliers {
  padding-bottom: 3%;
  text-align: center;
}

/* Contact */
.contact-header {
  color: #fff;
  padding: 2% 23% 2%;
  text-align: justify;
}

.contact-form {
  margin: 0 30%;
  text-align: center;
}

.contact-label {
  color: #fff;
  margin-bottom: 1%;
}

.contact-input {
  width: 250px;
  color: #000;
  margin-bottom: 1%;
}

.contact-submit {
  margin: 0 30%;
}

#contact {
  background-color: teal;
  padding-bottom: 5%;
}

/* Footer */

#footer {

}

.footer-container {
  text-align: center;
}

.social-icon {
  color: #000;
  margin: 20px 10px;
}
